#workspaces { 
  margin-left: 6px;
}
#workspaces button {
  padding: 0 6px;
  color: #aaa;
  background: transparent; 
  border: none;
  font-size: 16px;
  border-radius: 50%;
}

#workspaces button.active {
  color: #ffffff;
  background-color: #30655f;
}

#workspaces button:hover {
  background-color: #444444;
  color: #ffffff;
}
